<ion-view view-title="accDeatil">
	<ion-content>
<div class="detailContainer" ng-click="movePage()" ng-controller="accDetailCtrl">	
		<div class="orgContent" ng-repeat="x in data">
			<!--<form name="accEdit" action = "http://crm.biztechus.com/testdata.php?oper=accountEdit" method="POST">-->
			<form name="Edit" action = "http://localhost/vtigercrm/testdata.php?oper=accountEdit" method="POST">
			<table>
				<tr>
					<td>Organization ID :</td>
					<td class="editable" id="originAccid">{{x.accountid || '-' }}</td>
					<td><input class="editable" type="text" name="accId" style="display:none;" readonly></input></td>					
				</tr>
				<tr>
					<td>Organization Name : </td>
					<td class="editable" id="originAccName">{{x.accountname || '-' }}</td>
					<td><input class="editable" type="text" name="accountname" style="display:none;"></input></td>
				</tr>
				<tr>
					<td>Email :</td>
					<td class="editable" id="originAccEmail">{{x.email1|| '-' }}</td>
					<td><input class="editable" type="text" name="email" style="display:none;"></input></td>
				</tr>
				<tr>
					<td>Phone : </td>
					<td class="editable" id="originAccPhone">{{x.phone|| '-' }}</td>
					<td><input class="editable" type="text" name="phone" style="display:none;"></input></td>
				</tr>
				<tr>
					<td>Street :</td>
					<td class="editable" id="originAccStreet" >{{x.bill_street|| '-' }}</td>
					<td><input class="editable" type="text" name="street" style="display:none;"></input></td>
				</tr>
				<tr>
					<td>City : </td>
					<td class="editable" id="originAccCity">{{x.bill_city|| '-' }}</td>
					<td><input class="editable" type="text" name="city" style="display:none;"></input></td>
				</tr>
				<tr>
					<td>State : </td>
					<td class="editable" id="originAccState">{{x.bill_state|| '-' }}</td>
					<td><input class="editable" type="text" name="state" style="display:none;"></input></td>
				</tr>
			</table>
			<td><input name="currentUrl"></input></td>
			<td><input name="stage"></input></td>
		</form>			
		</div>
		<div>
			<input id="edit" type="button" style="background:lightgray;" value="Edit"/>
			<input id="save" type="submit" style="display:none;background:lightblue;" value="Save"/>
			<input id="delete" type="button" style="background:orange;" value="Delete"/>			
		</div>				
</div>
	</ion-content>
</ion-view>
