<ion-view title="Company">
  <ion-content>  
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<form name="addCustomer" action="http://crm.biztechus.com/ubilleNewData.php?oper=addAccount" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Organization Name*</span>
			<input type="text" name="accountname" placeholder="Name" value="" required="">			
		</label>
	</div>
	<div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Primary Phone*</span>
			<input type="tel" name="phone" placeholder="Phone"value="" required="">
		</label>
	</div>
	<div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Primary Email*</span>
			<input type="email" name="email" placeholder="Email"value="" required="">
		</label>
	</div>	
	<div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Billing Address</span>
			<textarea name="bill_street" placeholder="Street"></textarea>
		</label>
	</div>
	<div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Billing City</span>
			<input type="text" name="bill_city" placeholder="City"value="">
		</label>
	</div>
	<div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Billing State</span>
			<input type="text" name="bill_state" placeholder="State"value="">
		</label>
	</div>
	<div><input type="text" name="user_id" style="display:none;"></input></div>
	<div><input type="text" name="curl" style="display:none;"></input></div>
	<button class="button button-block button-positive addCustomer" ng-click="addCustomerSubmit()">submit</button>
</form>
  </ion-content>  
</ion-view>
