<ion-view title="SalesOrder">
  <ion-content>  
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<form name="addSalesOrder" action="http://localhost/vtigercrm/testdata.php?oper=addSalesOrder" method="post" accept-charset="utf-8" enctype="multipart/form-data"> 
	<div ng-controller="CustomersCtrl">
		<label class="item item-input item-stacked-label item-select">			
			<div class="input-label" autofocus >
				Company *
			</div><br/>					
			<select class="selectAccount" ng-click="modal.show()">			
				<option class="beforeselect" value="1" ng-selected="true" > -- select -- </option>
				<option class="atferSelect" value="2"></option>				
			</select>				
		</label>		
	</div>	
	
	<div class="list productList">
		<a ng-repeat="item in salesorder.items" ng-hide="item.productname == ''" class="item">
			<img class="thumbnailImg" ng-src="http://crm.biztechus.com/{{item.path+item.attachmentsid+'_'+item.name}}">
			<div class="productNo" style="display:none">{{item.product_no}}</div>
			<div class="qty" style="display:none">{{item.itemQnt}}</div>
			<div class="productName">{{item.productname}}</div>
			<div class="pdInfo">Price :</div><div> ${{item.unit_price}}</div>
			<div class="pdInfo">Quantity :</div><div> {{item.itemQnt}}</div>
			<div class="pdInfo">SubTotal :</div><div> ${{item.unit_price * item.itemQnt}}</div>								
			<i class='ion-close-round' ng-click='close()'></i>				
		</a>	
		
		<ul class="list total">
			<li class="item subTotal">
				SubTotal : <div class="calResult">${{total}}</div>
			</li>	
			<li class="item discount">
				Discount : 
				<input type="radio" name="discount" value="per" checked="true">(%)
				<input type="radio" name="discount" value="amt">($)
				<input type="text" name="discountPrice" class="discountPrice" placeholder="Input Decimal" style="border-bottom:1px solid black;"></input>
			</li>
			<li class="item dcPrice">
				PreTax SubTotal : <div class="calResult"></div>
			</li>
			<li class="item tax">
				Tax({{tax}}%) : <div class="calResult">${{sales}}</div>
			</li>			
		</ul>
	</div>
	<input type="text" name="accountname" style="display:none"></input>	
	<input type="text" name="email" style="display:none"></input>
	<input type="text" name="productNo" style="display:none"></input>	
	<input type="text" name="qty" style="display:none"></input>
	<div class="email" ng-click="sendEmail()">Send Email</div>
	
	<button class="button button-block button-calm" ng-click="addSalesOrderSubmit()">submit</button>
	<div id="htmlexportPDF">
                <table id="exportPDF" border="1" style="border-collapse: collapse;" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Programming Languages</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Java</td>
                        </tr>
                    </tbody>
                </table>
        </div>
</form>
  </ion-content>  
</ion-view>
 