<ion-view title="Customers">
	<ion-content class="has-header">  

		<ion-list>
			<ion-item ng-repeat="customer in customers" class="item-thumbnail-left item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/customers/{{customer.accountid}}">
				<img ng-if="customer.account_type == 'Customer'" ng-src="http://crm.biztechus.com/ubille_mobile_img/Ubille_Icon_Womenwear.png">									
				<img ng-if="customer.account_type == 'Partner'" ng-src="http://crm.biztechus.com/ubille_mobile_img/Ubille_Icon_Menswear.png">									
				<img ng-if="customer.account_type == 'Reseller'" ng-src="http://crm.biztechus.com/ubille_mobile_img/Ubille_Icon_sports.png">					
				<img ng-if="customer.account_type == 'Competitor'" ng-src="http://crm.biztechus.com/ubille_mobile_img/Ubille_Icon_children.png">					
				<img ng-if="customer.account_type == 'Other'" ng-src="http://crm.biztechus.com/ubille_mobile_img/Ubille_Icon_plussize.png">
				<h2>{{customer.accountname}}</h2>
				<p>{{customer.email1}}</p>
				<p>{{customer.phone}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
				<ion-option-button class="button-assertive" ng-click="remove(customer)">
					Delete
				</ion-option-button>		
			</ion-item>
		</ion-list>
	</ion-content>
<!--     <ion-footer-bar>
		<a href="#/tab/addCustomer"><div class="add"><i class="icon ion-plus"></i></div></a>
	</ion-footer-bar> -->
</ion-view>