<ion-view title="Customers">
	<ion-content>  
		<ion-list>
			<ion-item ng-repeat="customer in customers" class="item-thumbnail-left item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/customers/{{customer.accountid}}">
				<img ng-src="http://crm.biztechus.com/ubille_mobile_img/football-apparel-icon-1.png">
				<h2>{{customer.accountname}}</h2>
				<p>{{customer.email1}}</p>
				<p>{{customer.phone}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
				<ion-option-button class="button-assertive" ng-click="remove(customer)">
					Delete
				</ion-option-button>		
			</ion-item>
		</ion-list>
	</ion-content>
    <ion-footer-bar>
		<a href="#/tab/addCustomer"><div class="add">add</div></a>
	</ion-footer-bar>
</ion-view>