      <ion-view title="Home">
        <ion-content>
        <div class="graphWrap">
		
		<div ng-controller="BarCtrl">			
			<h2>Monthly Sales Order</h2>
			<canvas id="bar" class="chart chart-bar" data="data" labels="labels" series="series" colours="colours"></canvas>			
		</div>
		
		<div ng-controller="DoughnutCtrl">
			<h2>Type of Company</h2>
			<canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels" colours="colours"></canvas> 			
		</div>
	</div>
        </ion-content>
      </ion-view>