<ion-view title="{{item.product_no}}">
	<ion-content class="padding has-header">
<div class="list card">
  <div class="item item-body">
	<img class="full-image" src="http://crm.biztechus.com/{{item.pic1}}/{{item.pic2}}"/>
    <!--<img class="full-image" src="http://crm.biztechus.com/{{item.path+item.attachmentsid+'_'+item.name}}">-->
    <h2>
     {{item.productname|| 'Empty' }}
    </h2>	
    <p>
     ${{item.unit_price|| 'Empty' }}
    </p>	
	
	<a class="item item-avatar color" ng-repeat="cr in color" ng-click="selectPattern({{cr.color_id}})">
		<img class="{{cr.color_id}}" src="http://crm.biztechus.com/{{item.pic1}}/color/{{cr.color_name}}.png" title="{{cr.color_name}}">
	</a>	
	
	<button class="button button-block ubille-mint addCart" ng-click="cart()">
		Add to cart
	</button>
  </div>
  <div class="item item-divider">
    <h2>1 Pack (S:2EA / M:2EA / L:2EA)</h2>
  </div>
  <label class="item item-input item-select">
    <div class="input-label">
      <h2>Quantity (pack)</h2>
    </div>
    <select class="itemQnt" ng-model="itemQnt" ng-change="selectedVal(itemQnt)">
      <option ng-selected="true" selected>1</option>
      <option>2</option>
      <option>3</option>
	  <option>4</option>
	  <option>5</option>
	  <option>6</option>
      <option>7</option>
	  <option>8</option>
	  <option>9</option>
    </select>
	
  </label>
	
    <div>
        <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
			<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>            
				PRODUCT DETAILS
        </ion-item>
        <ion-item class="item-accordion" ng-show="isGroupShown(group)">			
			<div class="list">				
				<div class="item item-body" href="#">
					{{item.desc || 'Empty'}}
				</div>				
			</div>									
        </ion-item>
    </div>     
</div>
   </ion-content>
</ion-view>