<ion-view title="{{item.product_no}}">
	<ion-content>     
<div class="detailContainer">	
		<div class="productContent">						
			<table>
			
				<tr>
					<td>product_no :</td>
					<td>{{item.product_no|| '-' }}</td>
				</tr>
				<tr>
					<td>productname : </td>
					<td>{{item.productname|| '-' }}</td>
				</tr>
				<tr>
					<td>unit_price :</td>
					<td>{{item.unit_price|| '-' }}</td>
				</tr>
				<tr>
					<td>weight : </td>
					<td>{{item.weight|| '-' }}</td>
				</tr>
				<tr>
					<td>packsize : </td>
					<td>{{item.pack_size|| '-' }}</td>
				</tr>		
				<tr>
					<td>sales_start_date : </td>
					<td>{{item.sales_start_date|| '-' }}</td>
				</tr>
				<tr>
					<td>sales_end_date : </td>
					<td>{{item.sales_end_date|| '-' }}</td>
				</tr>						
			</table>					
		</div>
</div>
   </ion-content>
</ion-view>