<ion-view title="Product">
	<ion-content>    
	
 <!--
<div class="row col col-50 wrap">
	<a ng-repeat="item in data" href="#/tab/product/{{item.product_no}}">
		<img class="productImage" src="http://crm.biztechus.com/{{item.path+item.attachmentsid+'_'+item.imagename}}"/>
	</a>
</div>-->
<div class="wrap">
	<div class="productlist" ng-repeat="item in data">
		<div class="productItem">			
			<a href="#/tab/product/{{item.product_no}}">
				<!--<img class="image" src="http://localhost/vtigercrm/{{item.path+item.attachmentsid+'_'+item.imagename}}">-->
				<img class="image" src="http://crm.biztechus.com/{{item.path+item.attachmentsid+'_'+item.imagename}}"/></a>
				<div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
				  {{item.productname}}<br>${{item.unit_price}}
				</div>			
		</div>
	</div>
</div>

    </ion-content>
</ion-view>