<ion-view view-title="salesOrder">
	<ion-content>
		<div class="container" ng-controller="orderCtrl">		
			<div class="title">
				<ul>
					<li>subject</li>
					<li>order_no</li>
					<li>total</li>					
					<li>sostatus</li>
					
				</ul>
			</div>			
			<form action="orderDetail.html" method="post">
				<div class="orderContent" ng-repeat="x in data"">
					<ul>							
						<li>{{x.subject || '-' }}</li>
						<li id="orderNo_{{$index}}" class="orderNo" type="submit">{{x.salesorder_no || '-' }}</li>
						<li>{{x.total || '-' }}</li>					
						<li>{{x.sostatus || '-' }}</li>
						
					</ul>			
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>
