<ion-view title="SalesOrder">
<ion-content class="padding has-header">	
<div class="orderDetailList" ng-repeat="item in item">
	<div class="item item-body">
		<div class="item-title"> 
			{{item.productname|| '-' }}
		</div>
		<div class="productImg">
			<!--<img id="orderDetailImage" src="http://crm.biztechus.com/{{item.path+item.attachmentsid+'_'+item.name}}"/>-->
			<img id="orderDetailImage" src="http://crm.biztechus.com/{{item.pic1}}/{{item.pic2}}"/>
		</div>
		<div class="description">			
			<div>#45i9358</div>
			<div>Color : Gray</div>
			<div>Price : ${{item.listprice|| '-' }}</div>
			<div>Qty : {{item.quantity|| '-' }}</div>							
		</div> 

		<div class="orderShipCard">
		<div class="item item-divider">
			Subtotal : ${{item.subtotal|| '-' }}
		</div>  
		<div class="item">
			Estimated tax
		</div>  
		<div class="item item-divider">
			Order Total : ${{item.total}}
		</div>
		</div>		
	</div>
	
	</div>
</ion-content>
</ion-view>	
				
				