<ion-view title="SalesOrder">
	<ion-content>		
	<ion-list>		
	<ul class="orderTitle">
		<li>Subject</li>
		<li>SalesOrder No</li>
		<li>Total</li>
		<li>Status</li>
	</ul>
	 <ion-item class="orderList item-remove-animate item-icon-right"
	ng-repeat="item in data" href="#/tab/salesOrder/{{item.salesorder_no}}">	
			<ul>							
				<li>{{item.subject || '-' }}</li>
				<li id="orderNo_{{$index}}" class="orderNo" type="submit">{{item.salesorder_no || '-' }}</li>
				<li>{{item.total || '-' }}</li>					
				<li>{{item.sostatus || '-' }}</li>
				<i class="icon ion-chevron-right icon-accessory"></i>				
			</ul>	
			<ion-option-button class="button-assertive" ng-click="remove(customer)">
          Delete
        </ion-option-button>
	</ion-item>
 </ion-list>			
	</ion-content>
</ion-view>