<ion-view title="Settings">
  <ion-content class="padding has-header" ng-controller="settingCtrl">
<form name="setting" action="http://crm.biztechus.com/ubilleNewData.php?oper=addSetting" method="post" accept-charset="utf-8" enctype="multipart/form-data">
<div class="list" ng-repeat="item in data">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Company Name</span><br/>   
	<span class="accountDetailShow">{{item.organizationname|| 'Empty' }}</span>   	
	<input class="accountDetailEdit" type="text" placeholder="{{item.organizationname}}" name="accName" style="display:none"></input>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Address</span><br/>    
	<span class="accountDetailShow">{{item.address|| 'Empty' }}</span>   
	<input class="accountDetailEdit" type="text" placeholder="{{item.address}}" name="address" style="display:none"></input>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">City</span><br/>    
	<span class="accountDetailShow">{{item.city|| 'Empty' }}</span>   
	<input class="accountDetailEdit" type="text" placeholder="{{item.city}}" name="city" style="display:none"></input>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">State</span><br/>    
	<span class="accountDetailShow">{{item.state|| 'Empty' }}</span>   
	<input class="accountDetailEdit" type="text" placeholder="{{item.state}}" name="state" style="display:none"></input>
  </label>
  <!--<label class="item item-input item-stacked-label">
    <span class="input-label">Country</span><br/>    
	<span class="accountDetailShow">{{item.country|| 'Empty' }}</span>   
	<input class="accountDetailEdit" type="text" placeholder="{{item.country}}" name="country" style="display:none"></input>
  </label>-->
  <label class="item item-input item-stacked-label">
    <span class="input-label">Postal Code</span><br/>    
	<span class="accountDetailShow">{{item.code|| 'Empty' }}</span>   
	<input class="accountDetailEdit" type="text" placeholder="{{item.code}}" name="code" style="display:none"></input>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Phone</span><br/>    
	<span class="accountDetailShow">{{item.phone|| 'Empty' }}</span>   
	<input class="accountDetailEdit" type="text" placeholder="{{item.phone}}" name="phone" style="display:none"></input>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Fax</span><br/>    
	<span class="accountDetailShow">{{item.fax|| 'Empty' }}</span>   
	<input class="accountDetailEdit" type="text" placeholder="{{item.fax}}" name="fax" style="display:none"></input>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Website</span><br/>    
	<span class="accountDetailShow">{{item.website|| 'Empty' }}</span>   
	<input class="accountDetailEdit" type="text" placeholder="{{item.website}}" name="website" style="display:none"></input>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Tax</span><br/>    
	<span class="accountDetailShow">{{item.tax|| 'Empty' }} %</span>
	<select class="accountDetailEdit" ng-model="tax" ng-change="selectedVal(tax)" name="tax" style="display:none;">
      <option ng-selected="true" selected value="1">8.00%</option>
      <option value="2">10.00%</option>
      <option value="3">12.00%</option>	  
    </select>	
	<!--<input class="accountDetailEdit" type="text" placeholder="{{item.tax}}" name="tax" style="display:none"></input>-->
  </label>
  <input type="text" name="user_id" style="display:none;"></input>
  
  <button class="button button-block ubille-mint accountDetailEdit" ng-click="submit()" style="display:none">submit</button>
  
</div>
</form>
  </ion-content>
</ion-view>
