      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Customer" icon="ion-person" href="#/tab/customer">
          <ion-nav-view name="customer-tab"></ion-nav-view>
        </ion-tab>		
		
        <ion-tab title="Product" icon="ion-cube" href="#/tab/product">
          <ion-nav-view name="product-tab"></ion-nav-view>
        </ion-tab>
		
		<ion-tab title="SalesOrder" icon="ion-document-text" ui-sref="tabs.salesOrder">
          <ion-nav-view name="salesOrder-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>