/* Empty. Add your own CSS if you like */

.wrapper{width:80%; margin:0 auto;}

#ionic-header {background:#6c1943;}
.tab-item .tab-item-active,.tab-item.active,.tab-item.activated{color:#6c1943;}
.icon.ion-plus{font-size:30px;position:relative;left:0;top:-2px;}
.leftMenu>.list>.item-complex>.item-content{font-size:18px;}
.leftMenu>.list>.item-complex>.item-content>.icon{margin:10px;}
.graphWrap{margin-top:30%;}
.graphWrap h2{text-align:center;}
.chart{height:300px;}
.slider-pager{position:absolute;bottom:-500px;}
.slider{overflow:visible;}
/* login */
.login{position:absolute;top:20%;}
.login p{text-align:center;font-weight:bold;}
.login_logo{width:30%;height:30%;margin:0 auto;}
/*product list start*/
.wrap{width:100%; overflow:scroll;}
.productlist{width:50%;float:left;margin-bottom:-45px;}
.productItem{padding:5px;position:relative;}
.image{width:100%;height:50%;}
.imgBack{position:relative;bottom:40px;background:black;height:40px;width:100%;opacity:0.8;z-index:99;}
.imgDesc{color:white;position:absolute;width:100%;text-align:center;}
.title.ng-binding{margin:0 auto;}
/*product end start*/

/*product detail start*/
.item-default{font-size:20px;}
.list.card"{width:100%;height:auto;}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.popup{width:400px;max-height:70%;overflow-y:scroll;}
.ion-close-round{position:absolute;top:10px;right:10px;cursor:pointer;}
.itemColorSelect{width:70%;float:left;}
/*.popup p{display:block;}*/
.button.button-small{float:left;margin:5px;}
.addCart{float:right;}
.popup-body span{display:block;text-align:center;}
.color{float:left;padding-left:55px;}
.lightgray{background:lightgray;}
/*product detail end*/

/*sales order list start*/
.orderWrap{width:100%;height:100%;}
/*.soNo{width:10%;height:60px;float:left;text-align:center;line-height:60px;}*/
/*sales order list end*/

/*sales order detail start*/
.productImg{float:left;margin-right:20px;}
.orderDetailList>.item.item-thumbnail-left{width:100%;height:250px;float:left;margin:10px;}
#orderDetailImage{max-height:200px;max-width:200px;}
.description{position:relative;line-height:40px;}
.item-title{font-size:25px; font-weight:bold;margin-bottom:10px;}
.orderShipCard{width:100%;margin:0 auto;float:left;margin-top:10px;}
.orderShipCard div:last-child{color:#6c1943;}
/*sales order detail end*/

/*add sales order start*/
.thumbnailImg{width:30%;height:30%;float:left;margin-right:10px;}
.list li{text-align:left;width:100%;}
.list li div{text-align:right;}
.subTotal{border-top:1px solid black;}
.discount{float:left;line-height:40px;}
.discountPrice{
width:100px;
float:right;
text-align:right;
background-color:lightgray;
}
.calResult{float:right;
color:black;
font-weight:bold;
}
.modal{
width:80%;
min-height:70%;
margin:10%;
}
.productList{
line-height:25px;
}
.productName{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap; 
color:#6c1943;
font-weight:bold;
}
.pdInfo{color:gray;float:left;}

.total li{background:lightgray;}
/*add sales order end*/

.tab-item.tab-item-active{
	color: #6c1943;
	border-color: #FFFFFF;
}
ion-side-menu.menu-right.menu {
  background-color: #fefaf5 !important;
} 
ion-side-menu.menu-right.content{
  background-color: #d3bdc4 !important;
} 
ion-side-menu.menu-right.side-bar {
    background: #bf491e !important;
    color: #fcf1df !important;
    z-index: 1;
}
.ubille-wine{
	background: #820250 !important;
}
.ubille-mint{
	background: #c1dee6 !important;
}
.ubille-grey{
	background: #ele3e4 !important;
}
.ubille-orange{
	background: #fa6c1d !important;
}
.ubille-light-blue{
	background: #a7caf6 !important;
}
.ubille-jade{
	background: #7cd5ed !important;
}
.ubille-yellow{
	background: #fceb8c !important;
}